<article id="link">
  <form action="">
    <fieldset>
      <dl>
        <dt><label for="link">Link:</label></dt>
        <dd>{{input value=link}}</dd>
      </dl>
      <dl>
        <dt><label for="votes">Votes:</label></dt>
        <dd>{{input value=votes}}</dd>
      </dl>
    </fieldset>
    <fieldset class="actions">
      <button class="btn btn-primary" {{action 'saveChanges'}}>Save Changes</button>
      <button class="btn btn-danger" {{action 'cancel'}}>Cancel</button>
    </fieldset>
  </form>
</article>